@font-face {
    font-family: netflix-sans;
    src: url(/netflix-sans-cufonfonts/NetflixSansLight.ttf);
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: netflix-sans;
}



html,
body {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/imgs/bg-n.jpeg);
}

.header{
    height: 12vh;
    width: 100%;
}

.header img{
    height: 130px;
    width: 167px;
    margin-left: 20px;
    filter: brightness(100%);
}


.login-form-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 130px);
    width: 100%;
}

.n-form{
    color: white;
    height: 590px;
    width: 486px;
    background-color: rgba(0,0,0,.7);
    padding: 60px 68px 40px;
    border-radius: 3px;
}

.inputs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 35px;
}

.inputs input{
    background-color: #333;
    border: 0;
    outline: 0;
    height: 50px;
    line-height: 50px;
    border-radius: 7px;
    padding: 20px;
    color: white;
    font-size: 2.3vh;
}

#form-btn
{
    margin-top: 25px;
    width: 24.5vw;
    height: 6vh;
    background-color: red;
    border: 0;
    border-radius: 7px;
    color: white;
    font-size: 2.3vh;
}


.check{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.check-box{
    display: flex;
    align-items: center;
    color: #b3b3b3;
}

.check-box p{
    margin-left: 3px;
}

.help a{
    color: #b3b3b3;
}

.help a:hover{
    text-decoration: underline;
}

.form-bottom{
    margin-top: 60px;
}

.n-netflix{
    display: flex;
    gap: 7px;
    color: #b3b3b3;
}

.n-netflix a{
    color: white;
}

.n-netflix a:hover{
    text-decoration: underline;
}

.pro-gg{
    margin-top: 20px;
    display: flex;
    font-size: 2.1vh;
    color: #b3b3b3;
}

.pro-a{
    color: #0071eb;
}

.pro-a:hover{
    text-decoration: underline;
}